.grid {
  display: grid;
  border: 2px blue solid;
  height: 500px;
  width: 100px;
  grid-template-columns: 25% 25% 2fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 10px 15px;
}

.image {
  max-height: 50px;
  max-width: 70px;
  
}
